@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0; /* Optional: reset default margin */
  padding: 0; /* Optional: reset default padding */
  background-color: #252B42; /* Example background color */
  color: white; /* Example text color */
}
@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('ttf'),
       url('/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
